body {
    font-family:"Montserrat";
    background-color: lightblue;
    color: hsl(219, 33%, 38%);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Anton";
    text-align: center;
}
h1 {
    text-align: left;
    position: relative;
    font-size: 10pt;
}
h2 {
    margin: .1em;
}

header {
    text-align: center;
    background-color: slategrey;
    position: relative;
    z-index: 999;
    width: 100%;
    padding-bottom: 15px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 150%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: whitesmoke;
    height: 3px;
    width: 2em;
    border-radius: 10px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: slategray;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

#hero, footer {
    color: #3062bf;
    border: 4px solid #0059ff;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}

/*Hero Section*/

#hero img {
    width: 300px;
}

/* Bio Section*/

#bio {
    text-align: center;
}

/* Hobbies Section*/

#hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
/* Video Section */
#video {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border: 2px solid navy;
}

/* Gallery Section*/

#gallery {
    border: 2px solid navy;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}

/*Literature*/

#lit {
    border: 10px solid navy;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear: both;
}

/* Dropcaps */

#lit div p:first-child:first-letter {
    color:red;
    float:left;
    font-size: 3em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65;
    border: 1px solid black;
}
/* Tablet Size */
@media screen and (min-width: 60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    figure img {
        width: 100%;
    }
    #lit div {
        max-width:100%;
        columns: 40rem;
    }
}
/* Larger Screen */
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    hr {
        display: none;
    }
    #gallery h2 {
        grid-column: 1/-1;
    }
    figure {
        display: block;
    }
}
/* Contact Form */

#formElements {
    display:grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width:600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid Dark navy;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
}

legend {
    background-color: blue;
    color: white;
    padding:.5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size:1rem;
}

#contact ul {
    list-style:none;
    padding:0px;
}
#contact li {
    margin: 1rem;
}

#contact button {
    background-color: blue;
    color: white;
    border: 1px solid navy;
    max-width:400px;
    width:50%;
    justify-self: center;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #333;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}