body {
    font-family:"Montserrat";
    background-color: #ffaf00;
    color: #405680;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Anton";
    font-size:40pt;
}

header {
    text-align: center;
}

#hero, footer {
    color: #3062bf;
    border: 4px solid #0059ff;
    background-color: #aa8639;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
}